
/* for site preview iframes */
.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}
 
/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}
 
/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}
 
.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

#footerBG, #footerBG-copyright {
    background-color: #2196F3 !important;
  }

  /* for paragraphs with shadow effects */
  .jinyu-card {
    padding: 12px; 
    border-radius: 5px
  }

  /* for send image or submit button */
  .send-img { 
    position: relative;
    top: 5%;
     }

  .social-media { height: 18px; width: 18px; } 

  /* media queries */
@media only screen and (max-width : 600px) {
  .card-title {
    padding: 5px;
    font-size: 16px;
    max-width: 70%;
  }
}