/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

img.profiles { width: 279px; height:180px; } 


 /* for paragraphs with shadow effects */
  .jinyu-card {
    padding: 12px; 
    border-radius: 5px
  }

  /* for send image or submit button */
  .send-img { 
    position: relative;
    top: 5%;
     }

  .social-media { height: 18px; width: 18px; } 

  /* media queries */
@media only screen and (max-width : 600px) {
  .card-title {
    padding: 5px;
    font-size: 16px;
    max-width: 70%;
  }
}