@m-bg: #000000;
@m-font: 13px;
@m-color: silver;

@cta-bg: gold;
@cta-b-radius: 8px;
@cta-pad: 2px;

@bordwd: 2px;
@bordstyle: solid; /* outset = 90s style */

@content-wd: 95%;

body{
 margin-top: 5%;
 margin-left: 0;
 background-color: @m-bg;
 font-size: @m-font;
 color: @m-color;


}
a {
 text-decoration: none;
}

/* for navigation styling */
.navi {
 background-color: @m-color;
 border-width: @bordwd;
 border-style: @bordstyle;
 border-color: @m-color;
 font-size: @m-font + 1;

 position: fixed;
 top: 0px;

 width: 100%;
 padding: 3px; 
 
}

/* for call-to-action btns */
.cta1 {
 color: @m-bg;
 padding: @cta-pad;
 font-weight: bold;
 background-color: @cta-bg;
 border-width: @bordwd;
 border-style: @bordstyle;
 border-radius: @cta-b-radius;
 border-color: @cta-bg;
 font-size: @m-font + 2;
}

.cta1:hover{
 color: lighten(@m-bg, 10%);
 padding: @cta-pad;
 font-weight: bold;
 background-color: lighten(@cta-bg, 10%);
 border-width: @bordwd;
 border-style: @bordstyle;
 border-radius: @cta-b-radius;
 border-color: @cta-bg;
 font-size: @m-font + 2;
 cursor: pointer;
 
}

// table styles
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: @content-wd;
    border: 1px solid @m-bg;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 0px
}
th { background: lighten(@m-bg, 6%)}
tr:nth-child(odd){background-color: lighten(@m-bg, 3%)}

// imgs founders
.jinyus_pix {

height: 100px;
width: 100px;

}
