% include('navi.tpl')

 <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">Support Us</h1>
      <div class="row center">
        <h5 class="header col s12 light">Donations are a big help</h5>
      </div>

       <div class="row center">
       	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="NHVH29EA5UHBS">
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
		<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
		</form>
      </div>
    </div>
</div>

<div class="container">
  <div class="row center">
    <div class="col s12">
      <p class="flow-text z-depth-2 jinyu-card">Please help us continue our free services in building
		websites that are not only beautiful but also speedy and optimized.
		You can donate anything from $1 up to your desired amount. 
		So that, We can continue to provide you with the websites that
		you need the most. Thank you and have nice day! ありがと ございます た</p>
    </div>

    <div class="col s12">
     <h2><a href='mailto:ub17@protonmail.com'>Email </a>us for other concerns</h2>
    </div>
  </div>
</div>
% include('footer.tpl')
% include('utils.tpl')
