%#template for editing a task
%#the template expects to receive a value for "no" as well a "old", the text of the selected item
<p>Comments for Order No. {{no}}</p>
<form action="/edit/{{no}}" method="get">
Order   : <input type="text" name="orders" value="{{old[0]}}" size="100" maxlength="100" readonly><br/>
Pledge : <input type="text" name="amount" value="{{old[1]}}" size="100" maxlength="100" readonly><br/>
Remarks     : <input type="text" name="remarks" value="{{old[2]}}" size="100" maxlength="100" readonly><br/>
Date  : <input type="text" name="email" value="{{old[3]}}" size="100" maxlength="100" readonly><br/><br/>
Comments: <textarea name="comment" rows="8" cols="100" readonly> comments here... </textarea>
<br/></br>
Add Comment: <input type="text" name="comment" size="100" maxlength="100"><br><br>
<input type="submit" name="save" value="Save">
</form>
