<link rel="stylesheet/less" type="text/css" href="/less/styles.less" />

<script src="/js/less.js" type="text/javascript"></script>

<script>less = { env: 'development'};</script>
<script src="/js/less.js"></script>
<script>less.watch();</script>

