<p>Add a new Order:</p>
<form action="/new" method="GET">
Description: <input type="text" name="descripcion" size="100" maxlength="100"><br/>
Fee: <input type="text" name="compras" size="100" maxlength="100"><br/>
Provider: <input type="text" name="proveedor" size="100" maxlength="100"><br/>
Stocks: <input type="text" name="stock" size="100" maxlength="100"><br/>
Type: <input type="text" name="familia" size="100" maxlength="100"><br/>
<br/>
<input type="submit" name="Guardar" value="Save">
</form>


