 body { font-family: Helvetica, Arial, 'Nimbus Sans L' ,sans-serif }
                        nav { background: skyblue; width: 100%; height: 40px}
                        h1, h2, aside, article { margin-left: 5%; width: 60%}
                        footer { background: skyblue; width: 100%; height: 180px;}
                      